  <section class="headding-news">
            <div class="container">
                <div class="row row-margin">
                    <div class="col-sm-3 col-padding">
                    {foreach name=databerita from=$berita_list_satu item=rs}
                        <div class="post-wrapper post-grid-1 wow fadeIn" data-wow-duration="2s">
                            <div class="post-thumb img-zoom-in">
                                <a href="{$rs.url_detail}">
                                    <img class="entry-thumb" src="{$rs.image}" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <span class="color-3">{$rs.kategori_rubrik}</span>
                                <h3 class="post-title post-title-size"><a href="{$rs.url_detail}" rel="bookmark">{$rs.judul} </a></h3>
                                <div class="post-editor-date">
                                    <!-- post date -->
                                    <div class="post-date">
                                        <i class="pe-7s-clock"></i>{$rs.date_update}
                                    </div>
                                    
                                    <!-- read more -->
                                    <a class="readmore pull-right" href="{$rs.url_detail}"><i class="pe-7s-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                     {foreach name=databeritadua from=$berita_list_dua item=rs}
                        <div class="post-wrapper post-grid-2 wow fadeIn" data-wow-duration="2s">
                            <div class="post-thumb img-zoom-in">
                                <a href="{$rs.url_detail}">
                                    <img class="entry-thumb" src="{$rs.image}" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <span class="color-5">{$rs.kategori_rubrik}</span>
                                <h3 class="post-title post-title-size"><a href="{$rs.url_detail}" rel="bookmark">{$rs.judul}</a></h3>
                                <div class="post-editor-date">
                                    <!-- post date -->
                                    <div class="post-date">
                                        <i class="pe-7s-clock"></i>{$rs.date_update}
                                    </div>
                                  
                                    <!-- read more -->
                                    <a class="readmore pull-right" href="{$rs.url_detail}"><i class="pe-7s-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/foreach}
                    
                    <div class="col-sm-6 col-padding">
                     {foreach name=databeritatiga from=$berita_list_tiga item=rs}
                        <div class="post-wrapper post-grid-3 wow fadeIn" data-wow-duration="2s">
                            <div class="post-thumb img-zoom-in">
                                <a href="{$rs.url_detail}">
                                    <img class="entry-thumb-middle" src="{$rs.image}" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <span class="color-4">{$rs.kategori_rubrik}</span>
                                <h3 class="post-title"><a href="{$rs.url_detail}" rel="bookmark">{$rs.judul} </a></h3>
                                <div class="post-editor-date">
                                    <!-- post date -->
                                    <div class="post-date">
                                        <i class="pe-7s-clock"></i>{$rs.date_update}
                                    </div>
                                    <!-- read more -->
                                    <a class="readmore pull-right" href="{$rs.url_detail}"><i class="pe-7s-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                         {/foreach}
                    </div>
                   
                    <div class="col-sm-3 col-padding">
                     {foreach name=databeritaempat from=$berita_list_empat item=rs}
                        <div class="post-wrapper post-grid-4 wow fadeIn" data-wow-duration="2s">
                            <div class="post-thumb img-zoom-in">
                                <a href="{$rs.url_detail}">
                                    <img class="entry-thumb" src="{$rs.image}" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <span class="color-1">{$rs.kategori_rubrik}</span>
                                <h3 class="post-title post-title-size"><a href="{$rs.url_detail}" rel="bookmark">{$rs.judul}</a></h3>
                                <div class="post-editor-date">
                                    <!-- post date -->
                                    <div class="post-date">
                                        <i class="pe-7s-clock"></i>{$rs.date_update}
                                    </div>
                                  
                                    <!-- read more -->
                                    <a class="readmore pull-right" href="{$rs.url_detail}"><i class="pe-7s-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        {foreach name=databeritalima from=$berita_list_lima item=rs}
                        <div class="post-wrapper post-grid-5 wow fadeIn" data-wow-duration="2s">
                            <div class="post-thumb img-zoom-in">
                                <a href="{$rs.url_detail}">
                                    <img class="entry-thumb" src="{$rs.image}" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <span class="color-2">{$rs.kategori_rubrik}</span>
                                <h3 class="post-title post-title-size"><a href="{$rs.url_detail}" rel="bookmark">{$rs.judul} </a></h3>
                                <div class="post-editor-date">
                                    <!-- post date -->
                                    <div class="post-date">
                                        <i class="pe-7s-clock"></i> {$rs.date_update}
                                    </div>
                                    
                                    <!-- read more -->
                                    <a class="readmore pull-right" href="{$rs.url_detail}"><i class="pe-7s-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </section>