<div class="col-sm-8">
                    <article class="content">
                        <div class="post-thumb">
                            <img src="{$data.image}" class="img-responsive post-image" alt="">
                            <div class="social">
                                <ul>
                                    <li><a href="#" class="facebook"><i class="fa  fa-facebook"></i><span>3987</span> </a></li>
                                    <li><a href="#" class="twitter"><i class="fa  fa-twitter"></i><span>3987</span></a></li>
                                    <li><a href="#" class="google"><i class="fa  fa-google-plus"></i><span>3987</span></a></li>
                                    <li><a href="#" class="flickr"><i class="fa fa-flickr"></i><span>3987</span> </a></li>

                                </ul>
                            </div> <!-- /.social icon -->
                        </div> 
                        <h1>{$data.judul}</h1>
                        <div class="date">
                            <ul>
                                <li>By<a title="" href="#"><span> {$data.admin_name}</span></a> --</li>
                                <li><a title="" href="#">{$data.date_update}</a> --</li>
                              
                            </ul>
                        </div>
                        <p>{$data.content}</p>
                        <div class="row">
                       
                        <!-- Related news area
                        ============================================ -->
                        <div class="related-news-inner">
                            <h3 class="category-headding ">BERITA TERKAIT</h3>
                            <div class="headding-border"></div>
                            <div class="row">
                                <div id="content-slide-5" class="owl-carousel">
                                    <!-- item-1 -->
                                    <div class="item">
                                        <div class="row rn_block">
                                            {foreach name=berita_terkait from=$berita_terkait item=rs}
                                            <div class="col-xs-6 col-md-4 col-sm-4 padd">
                                                <div class="post-wrapper wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"><!-- image -->
                                                    <div class="post-thumb">
                                                        <a href="{$rs.url_detail}">
                                                            <img class="img-responsive" src="{$rs.image}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="post-info meta-info-rn">
                                                        <div class="slide">
                                                            <a target="_blank" href="#" class="post-badge btn_two">{$rs.kategori_rubrik
                                                            }</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-title-author-details">
                                                    <h4><a href="#">{$rs.judul}</a></h4>
                                                    <div class="post-editor-date">
                                                        <div class="post-date">
                                                            <i class="pe-7s-clock"></i>{$rs.date_update}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        {/foreach}

                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <!-- form
                        ============================================ -->
                        
                    </article>
                </div>