
      
           
                <div class="col-sm-8">
                    {if $berita_list neq ''}
                    {foreach name=berita_list from=$berita_list item=rs}
                    <!--Post list-->
                    <div class="post-style2 wow fadeIn" data-wow-duration="1s">
                        <a href=""><img src="{$rs.image}" alt=""></a>
                        <div class="post-style2-detail">
                            <h3><a href="#" title="">{$rs.judul}</a></h3>
                            <div class="date">
                                <ul>
                                    <li><img src="{$rs.image}" class="img-responsive" alt=""></li>
                                    <li>Oleh <a title="{$rs.admin_name}"><span>{$rs.admin_name}</span></a> --</li>
                                    <li><a title="" href="#">{$rs.date_update}</a> --</li>
                                   
                                </ul>
                            </div>
                            <p>{$rs.content}</p>
                            <a class="btn btn-style" href="{$rs.url_detail}">Selengkapnya</a>
                        </div>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            
        
