
{include file="web/base-layout/header.html"}

<body>
    
    <!-- Document Wrapper
    ============================================= -->
  
        {include file="web/base-layout/menu.html"}
        <!-- Content
        ============================================= -->
        {include file="web/base-layout/tittle.html"}
        <div class="container">
             <div class="row">
                {include file="$template_content"}
                {include file="web/base-layout/sidebar-list.html"}
                {include file="web/base-layout/paging.html"}
            </div>     
        </div>     
        {include file="web/base-layout/footer.html"}
            

    <!-- Go To Top
    ============================================= -->
   
    <!-- javascript loaded -->
    {$LOADJS}
    <!-- end of loaded javascript -->
</body>
</html>
