 <!-- footer Area
        ============================================ -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="footer-box footer-logo-address"> <!-- address  -->
                            
                            <address>
                                Kantor Kami<br/>
                                Gedung SMESCO UKM Lantai 16<br/>
                                Jl. Gatot Subroto Kav. 94 Jakarta Selatan - 12780<br/>
                                Telp : (021) 79197088<br/>
                                Fax : (021) 79199067<br/>
                            </address>
                        </div> <!-- /.address  -->
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="footer-box">
                                    <h3 class="category-headding">kategori</h3>
                                    <div class="headding-border bg-color-4"></div>
                                    <ul>
                                        {foreach name=list_kategori from=$datamenu item=rs}
                                        <li><i class="fa fa-dot-circle-o"></i><a href="{$rs.ur_detail}"></a>{$rs.kategori_rubrik}</li>
                                        {/foreach}
                                        
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-box"> <!-- featured news -->
                            <h3 class="category-headding ">berita terbaru</h3>
                            <div class="headding-border bg-color-2"></div>
                            {foreach name=list_berita_terbaru from=$list_berita_terbaru_footer item=rs}
                            <div class="box-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                                <div class="img-thumb">
                                    <a href="{$rs.url_detail}" rel="bookmark"><img class="entry-thumb" src="{$rs.image}" alt="" height="80" width="100"></a>
                                </div>
                                <div class="item-details">
                                    <h6 class="sub-category-title bg-color-2">
                                        <a href="#">{$rs.kategori_rubrik}</a>
                                    </h6>
                                    <h3 class="td-module-title"><a href="{$rs.url_detail}">{$rs.judul}</a></h3>
                                    <div class="post-editor-date">
                                        <!-- post date -->
                                        <div class="post-date">
                                            <i class="pe-7s-clock"></i>{$rs.date_update}
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            {/foreach}
                        </div> <!-- /.featured news -->
                    </div>
                </div>
            </div>
        </footer>
        <div class="sub-footer">  <!-- sub footer -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>© 2013 taa.co.id. 
Developed by PT Tunas Andalan Abadi</p>
                        <div class="social">
                            <ul>
                                {foreach name=sosmed from=$datasosmed item=rs}
                                <li><a href="{$rs.link}" class="{$rs.logo}"><i class="fa  fa-{$rs.logo}"></i> </a></li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.sub footer -->