<!-- pagination -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    {if $pagging neq ''}
                        <ul class="pagination">
                            {$pagging}   
                        </ul>
                    {/if}
                    </div>
                    <div class="col-sm-12">
                        <div class="banner">
                           <!--  <img src="images/top-bannner2.jpg" class="img-responsive center-block" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>