         <section class="block-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>{$page_judul}</h1>
                        <div class="breadcrumbs">
                            <ul>
                                <li><i class="pe-7s-home"></i> <a href="home-style-one.html" title="">Home</a></li>
                                <li><a href="#" title="">{$page_judul}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>